.card{
    width: 10rem;
    height: 16rem;  /* 13 */
    position: absolute;
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
    gap: 10px;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.26);
    border: 7px solid var(--orangeCard);
    box-shadow: var(--boxShadow);
    padding: 0px 26px 2px 26px;
    border-radius: 20px;
}
.card span:nth-child(2){ 
    color: var(--black);
    font-size: 16px;
    font-weight: 600;
}

.card span:nth-child(3){
    color: var(--black);
    font-size: 15px;
    width: 100%;
    /* overflow: hidden; */
}

.card span:nth-child(4){
    color: var(--black);
    font-size: 15px;
    width: 100%;
    /* overflow: hidden; */
}

.card span:nth-child(5){
    color: var(--black);
    font-size: 15px;
    width: 100%;
    /* overflow: hidden; */
}

.card > img{
    transform: scale(0.6);
    margin-bottom: -2rem;
}
.card-button{
    background: #ffffff;
    box-shadow: 0px 19px 60px rgba(0, 0, 0, 0.08);
    border-radius: 7px;
    border: none;
    cursor: pointer;
    /* padding: 8px; */
    color: #5290fd;
}

@media screen and (max-width:480px){
    .card{
        width: auto;
    }
}