.intro {
    display: flex;
    height: 77vh;
    margin-top: 6rem;
}

.intro-left {
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
    gap: 2rem;
}

.intro-name {
    display: flex;
    flex-direction: column;
}

.intro-name > :nth-child(1) {
    color: var(--black);
    font-weight: bold;
    font-size: 3rem;
}

.intro-name > :nth-child(2) {
    color: var(--orange);
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 20px;
}

.intro-name > :nth-child(3),
.intro-name > :nth-child(4),
.intro-name > :nth-child(5),
.intro-name > :nth-child(6) {
    color: var(--gray);
    font-weight: 100;
    font-size: 16px;
    margin-top: 10px;
}

.intro-name .text {
    color: black;
}

.intro-right {
    flex: 1;
    position: relative;
}

.intro-button {
    width: 10rem;
    height: 2rem;
}

.intro-icons {
    margin-top: 3rem;
    display: flex;
    gap: 0rem;
}

.intro-icons > * {
    transform: scale(0.5);
}

.intro-icons > *:hover {
    cursor: pointer;
}

.i {
    transform: scale(1);
}

.intro-right > * {
    position: absolute;
    z-index: 1;
}

.intro-right > :nth-child(1) {
    transform: scale(0.69);
    left: -15%;
    top: -9%;
}

.intro-right > :nth-child(2) {
    transform: scale(0.67);
    left: -3rem;
    top: -4.6rem;
}

.intro-right > :nth-child(3) {
    transform: scale(0.7);
    left: 10%;
    top: -38%;
    width: 500px;
    height: 800px;
}

.intro-right > :nth-child(4) {
    transform: scale(0.6);
    top: -19%;
    left: -24%;
    border-radius: 50%;
    padding: 0;
}

.blur {
    position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius: 50%;
    background: #edd0ff;
    z-index: -9;
    top: -18%;
    left: 56%;
    filter: blur(72px);
}

.icons {
    padding-left: 20px;
    padding-right: 20px;
    transition: transform 0.5s ease;
}

.icons:hover > * {
    transform: scale(1.3, 1.3);
}

.hire-button {
    background: var(--orange);
    border-radius: 30px;
    font-size: 1.2rem;
    padding: 10px 40px;
    cursor: pointer;
    outline: none;
    font-weight: bold;
    color: white;
    background: linear-gradient(
        180deg,
        #fdc50f 26.71%,
        #fb982f 99.36%
    );
    box-shadow: 0px 20px 24px 3px rgba(251, 161, 40, 0.42);
    width: 10rem;
}

.btn {
    width: 10rem;
}

@keyframes bubbleUp {
    0% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
    50% {
        transform: translateY(-50%) scale(1.2);
        opacity: 0.8;
    }
    100% {
        transform: translateY(-100%) scale(1.5);
        opacity: 0;
    }
}

.burst {
    animation: burst 0.5s ease-out forwards;
}

@keyframes burst {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.2);
        opacity: 0.8;
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
}

.hidden {
    display: none;
}
